body {
    font-family: sans-serif;
    background-color: blue;
    margin-top: 75px;
}




.center {
    text-align: center;
}

.text-big {
    font-size: 500%;
}

.italic {
    font-weight: inherit;
}

.img-medium {
    height: 300px;
}

